{% extends 'base.html' %}

{% block title %}University Admission Assistant - Reset Password{% endblock %}

{% load static %}

{% block optional-css %}
.navbar:not(.top-nav-collapse) {
  background: #1D1F25 !important;
}
input[type=email]{
	width: 40%;
}
{% endblock %}

{% block main-content %} 
	<br><br><br> <br>
	<div class="container mt-5">   
		<div class="card">
			<div class="row">
				<div class="col-md-7">
					<img src="{% static 'img/forgot_pasword_2x.png' %}"  class="img-fluid">
				</div>
				<div class="col-md-5 m-auto">
					<h4 class="font-weight-bold mb-3">Forget Your Password?</h4>
					<small class="mb-2">Please enter the email address registered on your account.</small> <br>
					<small class="text-muted">We'll email you a link to reset your password.</small>

					<form class="py-4 pr-5" method="POST">
						{% csrf_token %}
						<div class="md-form form-sm">
						  <i class="fas fa-envelope prefix"></i>
	        			  <input type="email" name="email" maxlength="254" required="" id="id_email" class="form-control">
						  <label for="id_email">E-mail address</label>
						</div>

						<button type="submit" class="btn btn-default btn-sm mt-4">Reset Password</button>
					</form>
				</div>
			</div>
		</div>
	</div>
{% endblock %}

{% block optional-js %}{% endblock %}