{% extends 'base.html' %}

{% block title %}University Admission Assistant - Login{% endblock %}

{% block optional-css %}
.navbar:not(.top-nav-collapse) {
  background: #1D1F25 !important;
}
{% endblock %}

{% block main-content %} 
	<br><br><br>
	<div class="container mt-5 text-center">  
		<i class="far fa-check-circle fa-5x mt-3 mb-4"></i>
		<h4 class="font-weight-bold mb-4">Password reset successful</h4>
	    <small class="text-muted">You have successfully reset your password. Please use your new password when logged in.</small> <br>
	    <a href="{% url 'accounts:login' %}" class="btn btn-default rounded-pill mt-5">Login <i class="fas fa-sign-in-alt ml-2"></i></a>
	</div>
{% endblock %}

{% block optional-js %}{% endblock %}