{% extends 'base.html' %}

{% block title %}University Admission Assistant - Login{% endblock %}

{% block optional-css %}
.navbar:not(.top-nav-collapse) {
  background: #1D1F25 !important;
}
{% endblock %}

{% block main-content %} 
	<br><br><br> <br>
	<div class="container mt-5 text-center">
	    <i class="far fa-check-circle fa-5x mb-5"></i> <br>
	    <h4 class="font-weight-bold mb-3">Check your email</h4>
	   	<small>
	        We have sent you a reset password link on your registered email address.
	    </small> <br>
	    <small class="text-muted text-center mb-4">
	        If you don't receive an email, please make sure you've entered the address you registered with, and check your spam folder.
	    </small>		
	</div>
{% endblock %}

{% block optional-js %}{% endblock %}