{% extends 'base.html' %}

{% block title %}University Admission Assistant - Interested Universities{% endblock %}

{% load static %}
{% block optional-css %}
.navbar:not(.top-nav-collapse) {
  background: #1D1F25 !important;
}
.cover{  
  background-image: url('{% static "home/image.jpg" %}'); 
  background-repeat: no-repeat; 
  background-size: cover; 
  background-position: center center;
  height: 350px;
  position: relative;
}
.profile img{
  position: absolute;
  top: 40%;
    border: 4px solid #fff;
    box-shadow: 0px 2px 10px 1px;
}
.username{
  margin-left: 15%;
}
{% endblock %}

{% block main-content %}
    <!-- Intro section start -->
    <div class="cover"></div>
    <div class="container">
      <div class="profile">
          {% if user.userprofile.image %}
            <img src="{{ user.userprofile.image.url }}" class="profile-image rounded-circle m-auto" alt="Users Image" width="150px" height="150px">
          {% else %}
            <img src="{% static 'img/avatar.png' %}" class="profile-image rounded-circle m-auto" alt="Users Image" width="150px" height="150px">
          {% endif %}  <br>
          <h6 class="username text-danger font-weight-bold">{{ user.username }}</h6>
      </div>
    </div>
    <!-- Intro section end -->


    <div class="container mt-5">
      {% if not user.userprofile.image %}
        <a class="btn btn-warning btn-lg" href="{% url 'accounts:registration_first' %}">Register Here!</a>
      {% else %}
          <ul class="nav teal p-3 flex-center rounded">
            <li class="nav-item">
              <a class="nav-link active text-white" href="{% url 'accounts:profile' username=request.user %}"><i class="fas fa-user mr-2"></i>About Me</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white" href="{% url 'accounts:eligible_list' username=request.user %}"><i class="fas fa-list-ul mr-2"></i>Eligible Universities</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white teal darken-2 rounded" href="{% url 'accounts:interested_unis' username=request.user %}"><i class="fas fa-thumbtack mr-2"></i>Interested Universities</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white" href="{% url 'accounts:application' username=request.user %}"><i class="fas fa-check-circle mr-2"></i>Applied Universities</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white" href="{% url 'accounts:notifications' username=request.user %}"><i class="fas fa-bell mr-2"></i>Notifications <span class="badge badge-danger ml-1">{{ count }}</span></a>
            </li>
          </ul>
      {% endif %}
    </div>

    <br>
    <div class="container">
        <div class="row mt-4">
          <div class="col-12">
    	<!-- 	    <h2 class="text-center d-block mx-auto mb-5 font-weight-bold">Interested Universities</h2> -->
            <table class="table table-dark">
              <thead>
                <tr>
                  <th scope="col" class="font-weight-bold">S. No.</th>
                  <th scope="col" class="font-weight-bold">University Name</th>
                  <th scope="col" class="font-weight-bold">Unit Name</th>
                  <th scope="col" class="font-weight-bold">Application Deadline</th>
                  <th scope="col" class="font-weight-bold">Remove</th>
                  <th scope="col" class="font-weight-bold">Fees</th>
                </tr>
              </thead>
              <tbody>
              {% include 'interestedunis/interested_list.html' %}
              </tbody>
            </table>
          </div>
        </div>
    </div>
{% endblock %}

{% block optional-js %}
  <!-- remove from interested university list ajax call -->
  <script type="text/javascript">
    function remove(unit_id){
      $.ajax({
        url: '{% url 'interestedunis:remove_interested' %}',
        method: 'get',
        data: {'unit_id': unit_id,},
        success: function(data){
          status = data.remove;

          if(status == 'success'){
            $('.table tbody').html(data.html_interested_list)
          }else{

          }
        }
      })
    }
  </script>
{% endblock %}
